* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

#nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  color:##050709;
  background-color: white;
  padding: 10px;
  margin-bottom: 0px;
  text-align:center;
     animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
}

.logo {
	width:4%;
	height: 4%;
}

body {
  font-family: Raleway , sans-serif;
  margin: auto;
  background: #56CCF2;
  color: #050709;
}

#home-page {
	display: block;
	text-align: center;
	margin: auto;
	width: 315px;
	left: 36px;
	top: 264px;

}

#pet-form {
	margin-top: 15px;
}

#zipcode {
	width: 315px;
	height: 34px;
	left: 36px;
	top: 264px;
	padding: 10px;
	margin: 10px;
	margin-top: 100px;
	border-radius: 10px;
	border-color: white
}

#pet-type {
	width: 315px;
	height: 34px;
	left: 36px;
	top: 264px;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	border-color: white
}


label {
  margin-right: 5%;
}

#sex-m-f {
	display:inline-block;
	padding-left: 10px;

}

#submit-search {
	display: block;
	text-align: center;
	margin: auto;
	width: 100px;
	height: 34px;
	left: 36px;
	top: 264px;
	margin-top:10px;
	border-radius: 10px;
	border-color: white
	text-transform: uppercase;
}
}

.app-info {
	margin:20px;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: center;

}

.image-row {
	font-size: 0;
	padding-left: 5px;
	padding-right: 5px;
}

.image-row img {
	width: 100%;
}

main {
  margin-top: 150px;
  text-align: center;
}

footer {
	display: block;
	text-align: center;
	margin: auto;
}

button {
	display:block;
	text-align: center;
	margin: auto;
	width: 100px;
	height: 34px;
	left: 36px;
	top: 264px;
	margin-top:10px;
	border-radius: 10px;
	border-color: white
	cursor: pointer;
	color:#050709;
	margin-bottom: 30px;
}

#results {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 50px;

}

.pet {
width: 300px;
left: 17px;
top: 122px;
text-align: center;
margin-left: 10px;
padding-left: 10px;
background: #FFFFFF;
border: 1px solid #000000;
color: black;
background-color: #F0F0F0;
box-sizing: border-box;
margin-top: 10px;
}

.pet-name:hover {
	cursor: pointer;
	color:#56CCF2;
}

.animal-image {
	width:75%;
	padding-left:10px;
	padding-right: 10px;

}

.animal-closeup {
	width: 40%;
}

.pet-description {
	justify-content: center;
	padding-right: 40px;
	padding-left:40px;
}


.pet-info {
	margin-top: 300px;
	background: #FFFFFF;
	border: 1px solid #000000;
	color: black;
	background-color: #F0F0F0;
	box-sizing: border-box;
	margin-left: 75px;
	margin-right: 75px;
}

.adopt-pet {
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 20px;

}

#back-button {
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 20px;
}

#restart-button {
	cursor: pointer;
	margin-bottom: 20px;
}

.about-me {
	display: block;
	text-align: center;
	margin-top: 50px;
	padding-right: 10px;
	padding-left: 10px;
}


